:root {
    --acerto: #29f4d5;
    --rosa-fiap: #E91C5D;
}

.botoes {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    transition: 0.3s;
}


.btn-check-individual  {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: 1s;
}



.texto-btn {
    margin-left: 40px;
    position: absolute;
    text-transform: uppercase;
    cursor: pointer;
    visibility: hidden!important;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-check-individual:hover > .texto-btn {
    visibility: visible!important;
}

#btn-verdadeiro {
    overflow-x: hidden;
}


#btn-verdadeiro:hover, .verdadeiro {
    width: 200px;
}

.icon {
    position: absolute!important;
    width: 30px;
    height: 30px;
}

#btn-verdadeiro{
    overflow: hidden!important;
    background-color: aqua;

}

#btn-falso{
    background-color: #E91C5D!important;
}

#btn-falso:hover, .falso {
    width: 150px;
}

@media only screen and (max-width: 768px) {
    .btn-check-individual{
        width: 100%;
    }
  }