:root {
    --acerto: #51dd00;
    --rosa-fiap: #E91C5D;
}

.botoes {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    transition: 0.3s;
}


.btn-check-individual  {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    cursor: pointer;
}



.texto-btn {
    margin-left: 40px;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    pointer-events: none;   
}

.btn-check-individual:hover > .texto-btn {
    visibility: visible!important;
}

#btn-verdadeiro {
    overflow-x: hidden;
}


#btn-verdadeiro:hover, .verdadeiro {
    width: 200px;
}

.icon {
    position: absolute!important;
    width: 30px;
    height: 30px;
    pointer-events: none;
}

#btn-verdadeiro{
    overflow: hidden!important;
    background-color: #51dd00;

}

#btn-falso{
    background-color: #E91C5D!important;
}

#btn-falso:hover, .falso {
    width: 150px;
}

@media only screen and (max-width: 768px) {
    .btn-check-individual{
        width: 100%;
    }
  }